
.card{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.form_input{
    margin-top: 20px;
}

.create{
    width: 100px;
    margin-top: 10px; 
    margin-left: 20px;


}

